###############################################################################
#
# This is an example of configuration file, wherein global paths and parameters
# related to the analysis of quality of seismological data are defined. At least
# one file should reside in the folder in which you intend to run your scripts.
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'analysis.cnf', 'caninana_config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided in several sections:
# - [paths]                : default paths to input/output folders
# - [ppsd]            : parameters to estimate PPSD
# - [local_evt]            : parameters to compare local event data
# - [event]                : parameters to compare event data
#
# Before using the scripts, you should at least make sure that the paths in
# section [paths] are consistent with your own files and folders organization.
#
###############################################################################


#======
[paths]
#======

# directory of raw files
DIR_DATA = /home/diogoloc/dados_posdoc/ON_MAR/obs_data_MSEED/

# directory of raw status files
DIR_STATUS = /home/diogoloc/dados_posdoc/ON_MAR/obs_data/STATUS_FILE/

#Directory to save JSON Files
OUTPUT_JSON_FILE_DIR = /home/diogoloc/dados_posdoc/ON_MAR/JSON_FILES/

#Directory to save Figures
OUTPUT_FIGURE_DIR = /home/diogoloc/dados_posdoc/ON_MAR/Figuras/

#Directory to save PSD
OUTPUT_PSD_DIR = /home/diogoloc/dados_posdoc/ON_MAR/obs_data_PSD_MSD/

#Directory to save EVENT data
OUTPUT_EV_DIR = /home/diogoloc/dados_posdoc/ON_MAR/EVENTS/

#XML File
XML_FILE = /home/diogoloc/dados_posdoc/ON_MAR/XML_ON_OBS_CC/

#STA CSV FILE path
STA_CSV_FILE  = /home/diogoloc/dados_posdoc/ON_MAR/sta_coord/OBS_ZOOXANTELA.txt

#Local events FILE path
LOCAL_CSV_FILE  = /home/diogoloc/dados_posdoc/ON_MAR/local_events/boletim2001p.txt

#Shapefile  boundary states
BOUNDARY_STATES_SHP = /home/diogoloc/SIG_dados/Projeto_ON_MAR/shapefile/brasil_estados/brasil_estados.shp

#=====
[ppsd]
#=====

#Number worker processes
NUM_PROCESS = 8

#PPSD start date
INITIAL_DATE = 2019,6,1

#PPSD final date
FINAL_DATE = 2020,8,1

#Percentage fo the days to process and plot the PPSD?
DAY_PERCENTAGE = 2

#Restricts the data that is included in the stack by time of day and weekday.
#Monday is 1, Sunday is 7, -1 for any day of week.
#For example, using time_of_weekday=[(-1, 22, 24)]
#only individual spectra that have a starttime in between 10pm and 12am are used in the stack for all days of week
#time_of_weekday=[(TIME_OF_WEEKDAY_DAY, TIME_OF_WEEKDAY_START_HOUR, TIME_OF_WEEKDAY_FINAL_HOUR)])
TIME_OF_WEEKDAY_DAY = -1
TIME_OF_WEEKDAY_START_HOUR = 0
TIME_OF_WEEKDAY_FINAL_HOUR = 24

#Extracting PSD values for given period in seconds.
#Selects the period bin whose center period is closest to the specified period.
PERIOD_PSD = 10

#Maximum and minimum amplitude of the PSD (sensor).
AMP_PSD_MIN = -120
AMP_PSD_MAX = -80

#Maximum and minimum amplitude of the PSD (hydrophones).
AMP_PSD_HYDROPHONE_MIN = -60
AMP_PSD_HYDROPHONE_MAX = 60

#===========
[local_evt]
#===========

#Local event start date
LOCAL_EVENT_START_DATE = 2019-06-01

#Local event final date
LOCAL_EVENT_FINAL_DATE = 2020-07-01

#Minimum event magnitude
LOCAL_EV_MAGNITUDE_MIN = 0

#Minimum event distance
LOCAL_EV_DISTANCE_MIN = 1000

#Shapefile to filter local event data
#SHP_AREA_DELIMITER = /home/diogoloc/SIG_dados/Projeto_ON_MAR/shapefile/area_batimetria/area_mar.shp
SHP_AREA_DELIMITER = /home/diogoloc/SIG_dados/Projeto_ON_MAR/shapefile/area_batimetria/area_ON_projeto.shp

#Time to trim the seismogram before P-wave arrival
CUT_BEFORE_P_LOCAL = 10

#Time to trim the seismogram after P-wave arrival
CUT_AFTER_P_LOCAL = 200

#Choose an available host and port to download data (https://docs.obspy.org/packages/obspy.clients.arclink.html):
USER = locdiogo@gmail.com
HOST = rsis1.on.br
PORT = 18001

#======
[event]
#======

#Taup_time model to calculate travel times
TAUPY_MODEL = iasp91

#Minimum event distance
EV_GCARC_MIN = 0

#Maximum event distance
EV_GCARC_MAX = 90

#Minimum event magnitude
EV_MAGNITUDE_MB = 5

#Date event initial  (exemple: 2008-01-01T00:00:00)
INITIAL_DATE_EVENT = 2019-05-01T00:00:00

#Date event final  (exemple: 2008-01-01T00:00:00)
FINAL_DATE_EVENT = 2020-09-01T00:00:00

#Time to trim the seismogram before P-wave arrival
CUT_BEFORE_P = 10

#Time to trim the seismogram after P-wave arrival
CUT_AFTER_P = 200
