###############################################################################
#
# This is an example of configuration file, wherein global paths and parameters
# related to the analysis of quality of seismological data are defined. At least 
# one file should reside in the folder in which you intend to run your scripts. 
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'analysis.cnf', 'caninana_config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided in several sections:
# - [paths]                : default paths to input/output folders
# - [local_evt]                : parameters to compare local event data
# - [event]                : parameters to compare event data
#
# Before using the scripts, you should at least make sure that the paths in 
# section [paths] are consistent with your own files and folders organization. 
#
###############################################################################


#======
[paths]
#======

# directory of raw files
DIR_DATA = /home/diogoloc/dados_posdoc/ON_MAR/data/

#Directory to save JSON Files
OUTPUT_JSON_FILE_DIR = /home/diogoloc/dados_posdoc/ON_MAR/JSON_FILES/

#Directory to save Figures
OUTPUT_FIGURE_DIR = /home/diogoloc/dados_posdoc/ON_MAR/FIGURES/

#Directory to save PSD
OUTPUT_PSD_DIR = /home/diogo/dados_doutorado/teste_PQLX/PPSD/

#Directory to save EVENT data
OUTPUT_EV_DIR = /home/diogoloc/dados_posdoc/ON_MAR/EVENTS/

#Directory to save XML File
OUTPUT_XML_FILE_DIR = /home/diogoloc/dados_posdoc/Brasil_RSBR_stations/XML_RSBR/

#STA CSV FILE path
STA_CSV_FILE  = /home/diogoloc/dados_posdoc/ON_MAR/sta_coord/rsis_lat_lon_elev.txt

#Local events FILE path
LOCAL_CSV_FILE  = /home/diogoloc/dados_posdoc/ON_MAR/local_events/boletim2001p.txt


#===========
[local_evt]
#===========

#Local event start date
LOCAL_EVENT_START_DATE = 2019-06-01

#Local event final date
LOCAL_EVENT_FINAL_DATE = 2020-07-01

#Minimum event magnitude 
LOCAL_EV_MAGNITUDE_MIN = 0

#Shapefile to filter local event data
SHP_AREA_DELIMITER = /home/diogoloc/SIG_dados/Projeto_ON_MAR/shapefile/area_batimetria/area_mar.shp

#Time to trim the seismogram before P-wave arrival
CUT_BEFORE_P_LOCAL = 0

#Time to trim the seismogram after P-wave arrival
CUT_AFTER_P_LOCAL = 180

#Choose an available host and port to download data (https://docs.obspy.org/packages/obspy.clients.arclink.html):
USER = locdiogo@gmail.com
HOST = rsis1.on.br
PORT = 18001

#======
[event]
#======

#Taup_time model to calculate travel times
TAUPY_MODEL = iasp91 

#Minimum event distance 
EV_GCARC_MIN = 0

#Maximum event distance 
EV_GCARC_MAX = 100

#Minimum event magnitude 
EV_MAGNITUDE_MB = 7

#Date event initial  (exemple: 2008-01-01T00:00:00)
INITIAL_DATE_EVENT = 2018-05-01T00:00:00

#Date event final  (exemple: 2008-01-01T00:00:00)
FINAL_DATE_EVENT = 2018-09-01T00:00:00

#Time to trim the seismogram before P-wave arrival
CUT_BEFORE_P = 10

#Time to trim the seismogram after P-wave arrival
CUT_AFTER_P = 40