###############################################################################
#
# This is an example of configuration file, wherein global paths and parameters
# related to the migration procedure are defined. At least one configuration file 
# should reside in the folder in which you intend to run your scripts. 
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'migration.cnf', 'migration_config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided in several sections:
# - [paths]             : default paths to input/output folders
# - [maps]              : parameters to plot maps
# - [time]              : parameters to calculate the time
# - [migration]         : parameters of the migration
#
# Before using the scripts, you should at least make sure
# that the paths in section [paths] and shapefiles in section [maps] are
# consistent with your own files and folders organization. And, of course, you
# should make sure to set the phases to calculate the time and piercing points.
# The other parameters can be fine-tuned later as you analyze your data.
#
###############################################################################


#======
[paths]    
#======

# directory of receiver functions files.
# In the current version of the program, you just need to set the directory and
# the suffix of the files organized inside their directory as:
# FILENAME.fileextention, e.g., like:
# .../a_1/BDCO/2015/251/2015.8.13.2/SYN.BDCO.2015.8.13.2.T:a=1.0.eqr
# the directory is a_1 and the extention is '.eqr'
# file per event and per station.


# dir of receiver functions
RF_DIR = /media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/MTZ_2024/PRF_SEISPY_DATA/

# extension of receiver functions
RF_EXT = _P_R.sac

#Directory of the earth models
MODEL_FILE_NPZ = /home/sysop/diogogit/codes_escritos/mantle_transition_zone_migration_obspy_Pds/velocity_model/iasp91_10.npz

# dir of OUTPUTs
OUTPUT_DIR = /media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/MTZ_2024/OUTPUT/MTZ_NO_FILTER_PP/

#=====
[maps]
#=====

# paths to shapefiles (boundaries, tectonic provinces), used
# to plot maps:
#
# - ``BOUNDARY_SHP`` should be a shapefile containing lines or polygons
#   representing any boundary (you can also include borders).
#
# - ``TECTO_SHP`` should be a shapefile containing polygons representing
#   tectonic provinces


BOUNDARY_1_SHP = /media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/SIG_Dados/shapes/bacia_parnaiba/bacia_parnaiba.shp

BOUNDARY_2_SHP = /media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/SIG_Dados/shapes/Estados/Brasil.shp

TECTO_SHP = /media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/SIG_Dados/shapes/bacia_parnaiba/bacia_parnaiba.shp

# Lat and Lon of large maps and small maps
# center (lat/lon) of the map

PROJECT_LAT = -5
PROJECT_LON = -46

#lower and upper corner (lat/lon) of the large map

LLCRNRLON_LARGE=-52
LLCRNRLAT_LARGE=-13
URCRNRLON_LARGE=-38
URCRNRLAT_LARGE=1

#lower and upper corner (lat/lon) of the small map

LLCRNRLON_SMALL=-49
LLCRNRLAT_SMALL=-12
URCRNRLON_SMALL=-40
URCRNRLAT_SMALL=-1

#figures extention and dpi
EXT_FIG=pdf
DPI_FIG=300

#Date event initial  (exemple: 2008-01-01T00:00:00)
INITIAL_DATE_EVENT = 2014-01-01T00:00:00

#Date event final  (exemple: 2008-01-01T00:00:00)
FINAL_DATE_EVENT = 2024-10-01T00:00:00

#CROSS-SECTION AXIS DIRECTION (x or y):
CROSS_SECTION_AXIS  = x

#Colormap to velocity map (see https://matplotlib.org/examples/color/colormaps_reference.html)
COLORMAP_VEL = seismic_r

#Colormap to standard deviation map (see https://matplotlib.org/examples/color/colormaps_reference.html)
COLORMAP_STD = Greys

#Minimum Amplitude in cross-section color
VMIN = -0.01

#Maximum Amplitude in cross-section color
VMAX = 0.01

#==================
[time]
#==================

# how many concurrent processes at the multiprocessing?
MP_PROCESSES = 8

#minimum depth of the migration
MIN_DEPTH = 300

#maximum depth of the migration
MAX_DEPTH = 800

#depth interval of the migration
INTER_DEPTH = 10

# ==========
[migration]
# ==========

#Filter by shapefile the grid? (True or False)
FILTER_BY_SHAPEFILE = False

#Shapefile containing lines or polygons representing grid boundary
SHAPEFILE_GRID = /media/sysop/8d2362fc-3b46-49a7-a864-19b2a6ad097b/diogoloc/dados_posdoc/SIG_Dados/shapes/bacia_parnaiba/bacia_parnaiba.shp

# grid bin per degree
GRID_PP_MULT = 0.25

# grid bin radius (degree)
DIST_GRID_PP = 0.15

# Receiver Function Frequency (Hz)
RF_FREQUENCY = 0.24

#number of piercing points per bin
NUMBER_PP_PER_BIN = 30

#number of stations RF per bin
NUMBER_STA_PER_BIN = 3

#Depth Target
DEPTH_TARGET = 530

#Number of interations to compute bootstrapping
BOOTSTRAP_INTERATOR = 200

#Depth range (+/-) that we will use to find the maximum amplitude
DEPTH_RANGE = 30

#Number of confidence bound (CONFIDENCE_BOUND*standard deviation)
CONFIDENCE_BOUND = 1
