###############################################################################
#
# This is an example of configuration file, wherein global paths and parameters
# related to the relative residuals procedure are defined. At least one file 
# should reside in the folder in which you intend to run your scripts. 
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'migration.cnf', 'migration_config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided in several sections:
# - [paths]                : default paths to input/output folders
# - [copy]                 : parameters to copy raw seismograms
# - [trim]                 : parameters to trim raw seismograms
# - [merge]                : parameters to merge raw seismograms
#
# Before using the scripts, you should at least make sure that the paths in 
# section [paths] are consistent with your own files and folders organization. 
#
###############################################################################


#======
[paths]
#======

# directory of raw data
DIR_RAW_DATA = /media/diogo/BP-PABIP/DADOS/

# directory of raw sac files
DIR_SAC = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/rede_AR/sac_data/

#Directory to save seismograms
DIR_EVENT = /home/diogo/dados_doutorado/data_event_dorsal_ana/

#Directory to save filterd seismograms
DIR_EVENT_NO_PP = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/rede_AR/event_data_NO_PP/

#Stations CSV FILE path
STA_CSV_FILE  = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/rede_AR/sta_coord/cood_rede_AR.txt

#Directory to save JSON Files
OUTPUT_JSON_FILE_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/rede_AR/JSON_FILES/

#=====
[copy]
#=====
#File format
FILE_TYPE = SAC

#File suffix
FILE_SUFFIX = sac

#Do want to remove the mean of your data? (information in https://docs.obspy.org/packages/autogen/obspy.core.trace.Trace.detrend.html#obspy.core.trace.Trace.detrend)
FILTERS_RMEAN = False
RMEAN_TYPE = demean

#Do want to remove the trend of your data? (information in https://docs.obspy.org/packages/autogen/obspy.core.trace.Trace.detrend.html#obspy.core.trace.Trace.detrend)
FILTERS_DETREND = False
DETREND_TYPE = simple

#Do want to use taper in your data? (information in https://docs.obspy.org/master/packages/autogen/obspy.core.trace.Trace.taper.html)
FILTERS_TAPER = False
TAPER_TYPE = hamming
TAPER_MAX_PERCENTAGE = 0.05

#Do want to use filter in your data? (help in https://docs.obspy.org/tutorial/code_snippets/filtering_seismograms.html)
FILTER = False
LOWPASS_FREQ = 4
LOWPASS_CORNER = 4
LOWPASS_ZEROPHASE = True

HIGHPASS_FREQ = 0.05
HIGHPASS_CORNER = 4
HIGHPASS_ZEROPHASE = True


#Do want to interpolate your data?
#This operation is performed in place on the actual data arrays. The raw data is not accessible anymore afterwards. 
#Be careful when downsampling data and make sure to apply an appropriate anti-aliasing lowpass filter before interpolating in case it’s necessary.
INTERPOLATE = True
SAMPLING_RATE = 10

#=====
[trim]
#=====

# how many concurrent processes at the multiprocessing?
MP_PROCESSES = 8

#Taup_time model to calculate travel times
TAUPY_MODEL = iasp91 

#Minimum event distance 
EV_GCARC_MIN = 30

#Maximum event distance 
EV_GCARC_MAX = 95

#Minimum event magnitude 
EV_MAGNITUDE_MB = 6

#Date event initial  (exemple: 2008-01-01T00:00:00)
INITIAL_DATE_EVENT = 2014-11-01T00:00:00

#Date event final  (exemple: 2008-01-01T00:00:00)
FINAL_DATE_EVENT = 2018-01-01T00:00:00

#Latitude/Longitude delimiter
LATITUDE_MIN = -50
LATITUDE_MAX = 10
LONGITUDE_MIN = -30
LONGITUDE_MAX = -10

#Time to trim the seismogram before P-wave arrival
CUT_BEFORE_P = 10

#Time to trim the seismogram after P-wave arrival
CUT_AFTER_P = 7200

#Component name E
KCMPNM_E = HHE

#Component name N
KCMPNM_N = HHN

#Component name Z
KCMPNM_Z = HHZ

#Network name
knetwk = BD

#Component N sac file name suffix
NAME_SUFFIX_N = N

#Component E sac file name suffix
NAME_SUFFIX_E = E

#Component Z sac file name suffix
NAME_SUFFIX_Z = Z

#======
[merge]
#======

FILTERS = False
