###############################################################################
#
# This is an example of configuration file, wherein global paths and parameters
# related to the analysis of quality of seismological data are defined. At least 
# one file should reside in the folder in which you intend to run your scripts. 
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'analysis.cnf', 'caninana_config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided in several sections:
# - [PATH]                : default paths to input/output folders
# - [XML]                 : parameters to create xml file
#
# Before using the scripts, you should at least make sure that the paths in 
# section [PATH] are consistent with your own files and folders organization. 
#
###############################################################################


#======
[PATH]
#======

#STA CSV FILE path
STA_CSV_FILE  = /home/diogoloc/dados_posdoc/ON_MAR/sta_coord/OBS_FAST_XML.txt

#Directory to save XML File
OUTPUT_XML_FILE_DIR = /home/diogoloc/dados_posdoc/ON_MAR/XML_OBS/

#Directory to save JSON Files
OUTPUT_JSON_FILE_DIR = /home/diogoloc/dados_posdoc/ON_MAR/JSON_FILES/

#=====
[XML]
#=====

#Name of the Network
NETWORK_CODE = ON

#Name of the deployer
SOURCE = ON lab

#Lotation code
LOCATION = 

#Description of the Network
NETWORK_DESCRIPTION = Station installed by ON

#Start date of the Network for XML
START_DATE = 2006,1,1

#Sampling Rate of the seismogram
SAMPLING_RATE = 100