###############################################################################
#
# This is an example of configuration file, wherein global paths and parameters
# related to the migration procedure are defined. At least one configuration file 
# should reside in the folder in which you intend to run your scripts. 
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'migration.cnf', 'migration_config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided in several sections:
# - [paths]             : default paths to input/output folders
# - [maps]              : parameters to plot maps
# - [time]              : parameters to calculate the time
# - [migration]         : parameters of the migration
#
# Before using the scripts, you should at least make sure
# that the paths in section [paths] and shapefiles in section [maps] are
# consistent with your own files and folders organization. And, of course, you
# should make sure to set the phases to calculate the time and piercing points.
# The other parameters can be fine-tuned later as you analyze your data.
#
###############################################################################


#======
[paths]    
#======

# directory of receiver functions files.
# In the current version of the program, you just need to set the directory and
# the suffix of the files organized inside their directory as:
# FILENAME.fileextention, e.g., like:
# .../a_1/BDCO/2015/251/2015.8.13.2/SYN.BDCO.2015.8.13.2.T:a=1.0.eqr																																																																																																																																																																																																																			
# the directory is a_1 and the extention is '.eqr'
# file per event and per station.


# dir of receiver functions
RF_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_NO_PP/MTZ_data/0.5/
#RF_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_YES_PP/MTZ_data/0.5/

# extension of receiver functions
RF_EXT = .eqr

#Directory of the model of IASP91 models
MODEL_FILE_NPZ = /home/diogo/diogo_git/codes_escritos/mantle_transition_zone_migration/velocity_model/iasp91_10.npz

# dir of the stations data
STA_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_NO_PP/OUTPUT/Stations/
#STA_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_YES_PP/OUTPUT/Stations/

# dir of the Pds results
PdS_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_NO_PP/OUTPUT/Phases/
#PdS_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_YES_PP/OUTPUT/Phases/

# dir of the piercing points results
PP_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_NO_PP/OUTPUT/Piercing_points/
#PP_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_YES_PP/OUTPUT/Piercing_points/

# dir of figures
PP_FIGURE = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_NO_PP/OUTPUT/Figures/
#PP_FIGURE = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_YES_PP/OUTPUT/Figures/

# dir of selected piercing points
PP_SELEC_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_NO_PP/OUTPUT/Piercing_points/selected/
#PP_SELEC_DIR = /home/diogo/dados_doutorado/parnaiba_basin/RF_migration/Mantle_Transition_Migration_YES_PP/OUTPUT/Piercing_points/selected/


#=====
[maps]
#=====

# paths to shapefiles (boundaries, tectonic provinces), used
# to plot maps:
#
# - ``BOUNDARY_SHP`` should be a shapefile containing lines or polygons
#   representing any boundary (you can also include borders).
#
# - ``TECTO_SHP`` should be a shapefile containing polygons representing
#   tectonic provinces


BOUNDARY_1_SHP = /home/diogo/dados_doutorado/parnaiba_basin/SIG_dados/shapes/bacia_parnaiba/bacia_parnaiba.shp

BOUNDARY_2_SHP = /home/diogo/dados_doutorado/parnaiba_basin/SIG_dados/shapes/Estados/Brasil.shp

TECTO_SHP = /home/diogo/dados_doutorado/parnaiba_basin/SIG_dados/shapes/mapas_interpretacoes/mocitaiba _2017.shp
#TECTO_SHP = /home/diogo/dados_doutorado/parnaiba_basin/SIG_dados/shapes/F_Mosq_Sard/F_Sardinha_(CPRM).shp

# Lat and Lon of large maps and small maps
# center (lat/lon) of the map

PROJECT_LAT = -5
PROJECT_LON = -45

#lower and upper corner (lat/lon) of the large map

LLCRNRLON_LARGE=-51
LLCRNRLAT_LARGE=-12
URCRNRLON_LARGE=-39
URCRNRLAT_LARGE=0

#lower and upper corner (lat/lon) of the small map

LLCRNRLON_SMALL=-50
LLCRNRLAT_SMALL=-10
URCRNRLON_SMALL=-40
URCRNRLAT_SMALL=-2

#figures extention and dpi
EXT_FIG=pdf
DPI_FIG=300

#Date event initial  (exemple: 2008-01-01T00:00:00)
INITIAL_DATE_EVENT = 2014-01-01T00:00:00

#Date event final  (exemple: 2008-01-01T00:00:00)
FINAL_DATE_EVENT = 2018-10-01T00:00:00

#CROSS-SECTION AXIS DIRECTION ('x' or 'y'):
CROSS_SECTION_AXIS  = y

#Colormap to velocity map (see https://matplotlib.org/examples/color/colormaps_reference.html)
COLORMAP_VEL = bwr_r

#Colormap to standard deviation map (see https://matplotlib.org/examples/color/colormaps_reference.html)
COLORMAP_STD = viridis

#==================
[time]
#==================

# how many concurrent processes at the multiprocessing?
MP_PROCESSES = 8

#minimum depth of the migration
MIN_DEPTH = 300

#maximum depth of the migration
MAX_DEPTH = 800

#depth interval of the migration
INTER_DEPTH = 10

# ==========
[migration]
# ==========

#Filter by shapefile the grid?
FILTER_BY_SHAPEFILE = True

#Shapefile containing lines or polygons representing grid boundary
SHAPEFILE_GRID = /home/diogo/dados_doutorado/parnaiba_basin/SIG_dados/shapes/bacia_parnaiba/bacia_parnaiba.shp

#GRID POINTS multiplyer
GRID_PP_MULT = 4

# distance between grid points and piercing points for each depth (degree)
DIST_GRID_PP = 1

# mean distance between grid points and piercing points (degree)
DIST_GRID_PP_MED = 0.5

#number of piercing points per bin
NUMBER_PP_PER_BIN = 10

#number of stations RF per bin
NUMBER_STA_PER_BIN = 3

#False or True for depth estimation
DEPTH_ESTIMATION = True 

#False or True for depth estimation with bootstrap
BOOTSTRAP_DEPTH_ESTIMATION = True 

#Number of interations to compute bootstrapping
BOOTSTRAP_INTERATOR = 200

#The gamma value is a function of temperature, rock composition, 
#and degree of partial melting. This value is found to be in the 
#range of 1.5–2.5 for most continental areas. A γ value of 2.0
#is used to obtain the velocity anomalies and MTZ discontinuity
#depths.

GAMMA = 2

#Minimum amplitude of the 410 and 660 km (both Pds and Ppds ) to compute apparent and true depth
MIN_AMP_PDS_PPDS = 0.002

#Depth range (+/-) that we will use to find the maximum amplitude
DEPTH_RANGE = 30