###############################################################################
#
# This is an example of configuration file, wherein global paths and parameters
# related to the analysis of quality of seismological data are defined. At least 
# one file should reside in the folder in which you intend to run your scripts. 
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'analysis.cnf', 'caninana_config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided in several sections:
# - [PATH]                : paths to input/output folders
# - [PPSD]                 : parameters to estimate PPSD data
# - [CLIENT]               : parameters to request xml file
#
# Before using the scripts, you should at least make sure that the paths in 
# section [paths] are consistent with your own files and folders organization. 
#
###############################################################################

#======
[PATH]
#======

#-------
#INPUTs

# directory of raw files
DIR_DATA = /home/diogo/dados_doutorado/teste_PQLX/data_test/

# XML File
XML_FILE = /home/diogo/dados_doutorado/teste_PQLX/XML_FILE/NB.xml

#-------
#OUTPUTs

#Directory to save JSON Files
OUTPUT_JSON_FILE_DIR = /home/diogo/dados_doutorado/teste_PQLX/JSON_FILES/

#Directory to save Figures
OUTPUT_FIGURE_DIR = /home/diogo/dados_doutorado/teste_PQLX/FIGURES/

#Directory to save PSD
OUTPUT_PSD_DIR = /home/diogo/dados_doutorado/teste_PQLX/PSD/


#======
[PPSD]
#======

#Initial date of the Data
INITIAL_DATE = 2019,1,1

#Final date of the data
FINAL_DATE = 2020,1,1

#Restricts the data that is included in the stack by time of day and weekday. 
#Monday is 1, Sunday is 7, -1 for any day of week. 
#For example, using time_of_weekday=[(-1, 22, 24)] 
#only individual spectra that have a starttime in between 10pm and 12am are used in the stack for all days of week
#time_of_weekday=[(TIME_OF_WEEKDAY_DAY, TIME_OF_WEEKDAY_START_HOUR, TIME_OF_WEEKDAY_FINAL_HOUR)])
TIME_OF_WEEKDAY_DAY = -1
TIME_OF_WEEKDAY_START_HOUR = 0
TIME_OF_WEEKDAY_FINAL_HOUR = 23

#======
[CLIENT]
#======

#The user name is used for identification with the ArcLink server.
USER = Labsis

#Host name of the remote ArcLink server (default host is 'webdc.eu').
HOST = 10.3.225.19

#Port of the remote ArcLink server (default port is 18002).
PORT = 18001 

#A string containing the name of the institution of the requesting person (default is an 'Anonymous').
INSTITUTION = UFRN
